[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aplf = {editable = true,extras = ["dev"],path = "."}
jupyterlab = "*"
matplotlib = "*"
imbalanced-learn = "*"

[requires]
python_version = "3.6"

[scripts]
format = ""
notebook = "jupyter notebook --config=./jupyter_notebook_config.py"
lint = "bash -c 'autopep8 -ivr . && flake8 --show-source .'"
