# machine learning or collection tools
cytoolz
joblib
numpy
torch
torchvision
sklearn
scipy
scikit-image
tensorboardX
tensorflow
pydensecrf

# graph
bokeh
graphviz
matplotlib


# workflow engine
dask[complete]       

requests

# kaggle
kaggle


