# machine learning or collection tools
cytoolz
joblib
numpy
torch
torchvision
sklearn
scipy
scikit-image
pydensecrf
fastparquet
albumentations
mlboard_client

# graph
bokeh
graphviz
matplotlib


# workflow engine
dask[complete]       
