# machine learning or collection tools
cytoolz
joblib
numpy
torch
torchvision
sklearn
scipy
scikit-image
tensorboardX
tensorflow
pydensecrf
fastparquet
sacred
pymongo
GitPython

# graph
bokeh
graphviz
matplotlib


# workflow engine
dask[complete]       
