<nav class="navbar is-dark is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="./#">
      aplf
    </a>
    <div class="navbar-burger" v-on:click="showNav = !showNav" :class="{ 'is-active': showNav }">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="nav-menu" class="navbar-menu" v-bind:class="{ 'is-active': showNav }">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      help
    </div>
  </div>
</nav>
